:root{
    --anotherProp: yellow;
    --bgColor: #EDFFEC;
    --primaryColor: skyblue;
    --accentColor: #fff;
    --textColor: #5A5766;
    --shadeColor: #48435C;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bgColor);

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.main{
    flex: 0 1 auto;
    background-color: var(--primaryColor);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:10px;
    padding:20px;
    box-shadow: 0 0 2px var(--shadeColor);

    --fontSet: Arial, Helvetica, sans-serif;
    --contactFlex: column;
    --contactWidth:100%;

    --imgW: 100%;
    --imgR: 0;
    
    min-width: 100px;
    max-width: 200px;

    border-radius: 10px;
}

/* .mainStyle02{

    --fontSet: monospace;
    --contactFlex: column;
    --contactWidth:100%;

    --imgW: 100%;
    --imgR: 0;


    
    min-width: 150px;
    max-width: 250px;

    border:3px solid var(--textColor);
}

.mainStyle03{

    --fontSet: cursive;
    --contactFlex: row;
    --contactWidth:48%;

    --imgW: 30%;
    --imgR: 10px;

    min-width: 350px;
    max-width: 420px;

    border:3px double var(--textColor);
} */

.header{
    display: flex;
    flex-direction: var(--contactFlex);
    gap:20px;
    align-items: center;
}

.main img{
    width:var(--imgW);
    border-radius: var(--imgR);
    cursor:pointer;
}
.main input{
    height:30px;
    width:100%;
    border-radius: 10px;
    background-color: var(--primaryColor);
    border:none;   

}
.main input::placeholder{
    font-family: var(--fontSet);
    color:var(--textColor);
    width:100%;
}
.contactWrapper{
    display: flex;
    align-items: center;
    width: var(--contactWidth);
}

.contact{
    display:flex;
    flex-direction: var(--contactFlex);
   align-items: center;
   padding:0 10px;
   width:100%;
   flex-wrap: wrap;
   gap:5px;
}


.main svg{
    width:20px;
    padding-right:10px;
    color:var(--accentColor);
}

#name{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    text-overflow: wrap;
    color:var(--accentColor);
    margin-bottom:5px;
}
#name::placeholder{
    color:var(--accentColor);
}

#title{
    font-size: 1.2rem;
    font-weight: 300;
}


.ctrlPanel{
    padding:10px;
    border-radius: 10px;
    display: flex;

}

.colors{
    display: grid;
    grid-template-columns:repeat(2, auto);
}

.styles, .save{
    display: flex;
    flex-direction: column;
}

.ctrlPanel button {
    border-radius: 5px;
    margin:5px 10px;
    padding:5px 10px;
    border:none;
    background-color: #eee;
    color:#111;
    cursor: pointer;
    transition: 0.5s;
}
.ctrlPanel button:hover{
    transform:scale(1.2);
    box-shadow: 0 0 5px var(--shadeColor);
}

.colors button, .save button{
    background-color: var(--bgColor);
    color: var(--shadeColor);
    font-weight: 600;
}

.styles button{
    background-color: var(--shadeColor);
    color: var(--bgColor);
}

