:root{
    --anotherProp: yellow;
    --bgColor: #EDFFEC;
    --primaryColor: skyblue;
    --accentColor: #fff;
    --textColor: #5A5766;
    --shadeColor: #48435C;
}

body{
    padding: 3vmin;
    margin: 0;
    margin-left:50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bgColor);

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap:3vmin;
}


.main{
    flex: 0 1 auto;
    background-color: var(--primaryColor);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:10px;
    padding:20px;
    box-shadow: 0 0 2px var(--shadeColor);

    --fontSet: Arial, Helvetica, sans-serif;
    --contactFlex: column;
    --contactWidth:100%;
    --imgW: 100%;
    --imgR: 0;
    
    min-width: 100px;
    max-width: 200px;

    border-radius: 10px;
}

.header{
    display: flex;
    flex-direction: var(--contactFlex);
    gap:20px;
    align-items: center;
}
.profile{
    position: relative;
}
.profile img{
    width:var(--imgW);
    position: relative;
    cursor: pointer;
}
.profile input{
    position: absolute;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    height: var(--imgW) !important;
    width: var(--imgW) !important;
}
.main input{
    height:30px;
    width:100%;
    border-radius: 10px;
    background-color: var(--primaryColor);
    border:none;   
    color:var(--textColor);

}
.main input::placeholder{
    font-family: var(--fontSet);
    color:var(--textColor);
    width:100%;
}
.contactWrapper{
    display: flex;
    align-items: center;
    width: var(--contactWidth);
}

.contact{
    display:flex;
    flex-direction: var(--contactFlex);
   align-items: center;
   padding:0 0px;
   width:100%;
   flex-wrap: wrap;
   gap:5px;
}


.main svg{
    width:20px;
    padding-right:10px;
    color:var(--accentColor);
}

#name{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    text-overflow: wrap;
    color:var(--accentColor);
    margin-bottom:5px;
}

#name::placeholder{
    color:var(--accentColor);
}

#title{
    font-size: 1.2rem;
    font-weight: 300;
}


.ctrlPanel{
    padding:10px;
    border-radius: 10px;
    display: flex;

}

.colors{
    display: grid;
    grid-template-columns:repeat(2, auto);
}

.styles, .save{
    display: flex;
    flex-direction: column;
}

.ctrlPanel button, #downloadBtn{
    border-radius: 5px;
    margin:5px 10px;
    padding:5px 10px;
    border:none;
    background-color: #eee;
    color:#111;
    cursor: pointer;
    transition: 0.5s;
}
.ctrlPanel button:hover, #downloadBtn:hover{
    transform:scale(1.2);
    box-shadow: 0 0 5px var(--shadeColor);
}

.colors button{
    background-color: var(--bgColor);
    color: var(--shadeColor);
    font-weight: 600;
}
#downloadBtn{
    background-color: transparent;
}
#downloadBtn svg{
    width:30px;
    color: var(--shadeColor);
}

.styles button{
    background-color: var(--shadeColor);
    color: var(--bgColor);
}

.mainWrapper{
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: center;
}
nav{
    position: fixed;
    left:0;
    top:0;
    width:50px;
    height: 100%;
    background-color: var(--shadeColor);
    box-shadow: 0 0 3px var(--textColor);
}
#infoBtn{
    color: var(--primaryColor);
    width:30px;
    margin: auto;
    position: absolute;
    bottom:10px; 
    left:10px;
    cursor: pointer;
    transition: 0.5s;
}
#infoBtn:hover{
    transform:scale(1.2);
}
